button {
    font-size: 4em;
    font-family: 'VT323', monospace;
    text-align: center;
    color: #FFFFFF;
    padding: 5px 10px;
    margin: 2px;
    outline: none;
}
button.button {
    background-color: black;    
}

button.back {
    background-color: green;
}

button.delete{
    background-color: orangered;
}

button.add{
    background-color: #4C8FFB;
}

.input {
    padding: 5px 10px;
    margin: 2px;
    border-color: black;
}

html {
    font-family: 'VT323', monospace;
    font-size: 10px;
}
h1 {
    margin: 0; 
    padding: 20px 0;
    color:black;
    font-size: 60px;
    text-align: center;
}

h2,h3,h4,h5 {
    margin: 0; 
    padding: 20px 0;
    color: black;
    font-size: 60px;
    text-align: left;
}

p,li,table,label,legend {
    color: black;
    font-size: 25px;
    line-height: 2;
    letter-spacing: 1px;
    text-align: left;
}

header {
    background-color: #d64750;
}

body {
    margin: 0 auto;
    padding-top: 80px;
    background-color: #f0e7e7;
}

.padd {
    padding: 15px;
}

.center {
    max-width: 75%;
    margin: 0 auto;
    border: 2px solid black;
    padding: 15px;
    text-align: center;
}

table {
    text-align: left;
}
a {
    color: red;
    text-decoration: none;
}

a:visited {
    color:#437A16; 
}

a:focus {
    border-bottom: 1px solid;
    background: #BAE498;
}

a:hover {
    border-bottom: 1px solid;     
    background: #CDFEAA;
}

a:active {
    background: #265301;
    color: #CDFEAA;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.navbar ul {
    list-style-type: none;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    background-color:rgb(36, 51, 51);
    overflow: hidden;
    width: 100%;
}

.navbar li {
    float: left;
}

.navbar li:last-child {
    float: right;
}

.navbar li a {
    display: block;
    padding: 14px 16px;
    background-color: rgb(36, 51, 51);
    color: white;
    text-align: center;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #5B2190;
}

.active {
    background-color: #DD6EDD;
}