button.button {
    color: #FFFFFF;
    background-color: black;
    padding: 5px 10px;
    text-align: center;
    margin: 2px;
    outline: none;
    font-family: 'VT323', monospace;
    
}

button.delete{
    background-color: orangered;
    color: #FFFFFF;
    float: center;
    padding: 5px 10px;
    text-align: center;
    margin: 2px;
    outline: none;
    font-family: 'VT323', monospace;
}

button.add{
    background-color: #4C8FFB;
    color: #FFFFFF;
    padding: 5px 10px;
    text-align: center;
    margin: 2px;
    outline: none;
    font-family: 'VT323', monospace;
}

.input {
    padding: 5px 10px;
    margin: 2px;
    border-color: black;
}

html {
    font-family: 'VT323', monospace;
    font-size: 10px;
    background-color: #DD6EDD;
}
h1 {
    margin: 0; 
    padding: 20px 0;
    color: #DD6EDD;
    font-size: 60px;
    text-align: center;
    text-shadow: 4px 4px 1px black;
}

h2 {
    margin: 0; 
    padding: 20px 0;
    color: #DD6EDD;
    font-size: 60px;
    text-align: left;
    text-shadow: 4px 4px 1px black;
}

p,li,table {
    color: #FFFFFF;
    font-size: 25px;
    line-height: 2;
    letter-spacing: 1px;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #5B2190;
    padding: 0 20px 20px 20px;
    border: 5px solid black; 
}

a {
    color: red;
}

a:visited {
    color:red; 
}

img {
    display: block;
    margin: 0 auto;
}