button.button {
    color: #FFFFFF;
    background-color: black;
    padding: 5px 10px;
    text-align: center;
    margin: 2px;
    outline: none;
    font-family: 'VT323', monospace;
    
}

button.back {
    background-color: green;
    color: #FFFFFF;
    padding: 5px 10px;
    text-align: center;
    margin: 2px;
    outline: none;
    font-family: 'VT323', monospace;
}

button.delete{
    background-color: orangered;
    color: #FFFFFF;
    padding: 5px 10px;
    text-align: center;
    margin: 2px;
    outline: none;
    font-family: 'VT323', monospace;
}

button.add{
    background-color: #4C8FFB;
    color: #FFFFFF;
    padding: 5px 10px;
    text-align: center;
    margin: 2px;
    outline: none;
    font-family: 'VT323', monospace;
}

.input {
    padding: 5px 10px;
    margin: 2px;
    border-color: black;
}

html {
    font-family: 'VT323', monospace;
    font-size: 10px;
}
h1 {
    margin: 0; 
    padding: 20px 0;
    color:black;
    font-size: 60px;
    text-align: center;
}

h2,h3,h4,h5 {
    margin: 0; 
    padding: 20px 0;
    color: black;
    font-size: 60px;
    text-align: left;
}

p,li,table,label,legend {
    color: black;
    font-size: 25px;
    line-height: 2;
    letter-spacing: 1px;
}

header {
    background-color: lightgreen;
}

body {
    margin: 0 auto;
    padding-top: 80px;
    background-color: rgb(240, 231, 231);
}

.padd {
    padding: 15px;
}

a {
    color: red;
}

a:visited {
    color:red; 
}

img {
    display: block;
    margin: 0 auto;
}

.navbar ul {
    list-style-type: none;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    background-color:rgb(36, 51, 51);
    overflow: hidden;
    width: 100%;
}

.navbar li {
    float: left;
}

.navbar li:last-child {
    float: right;
}

.navbar li a {
    display: block;
    padding: 14px 16px;
    background-color: rgb(36, 51, 51);
    color: white;
    text-align: center;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #5B2190;
}

.active {
    background-color: #DD6EDD;
}